@import "variables", "mixins";

.container {
  height: 100vh;
  width: 100vw;
  @include customFlex;
  img {
    border-radius: $borderRadiusForImg;
    // border: $borderWidth solid $borderColor;
    margin: $customPadding;
    // width: $imgWidth;
    @include objectFit;
    @include customFilter(50%);
    &:hover {
      @include customFilter(110%);
    }
  }
}
