@mixin transition {
  transition: all 2s;
}
@mixin flexRowStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexRowEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@mixin perfectCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin perfectColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
