* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: antiquewhite;
}
img {
  height: 100%;
}
nav {
  /* font-family: "Viaoda Libre", cursive; */
  font-family: "Saira", sans-serif;
}
.hamburger-nav {
  height: 100vh;
  border-top: 3px solid #000;
  border-bottom: 3px solid transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-item {
  position: relative;
}
.nav-link::before {
  content: "-";
  position: absolute;
  top: 15px;
  left: 40px;
}

@media (min-width: 768px) {
  .hamburger-nav {
    height: auto;
    border-top: 3px solid transparent;
  }
  .nav-link::before {
  display: none;
  }
}
