* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

img {
  height: 100%;
}
nav,
.inner p,
h2,
footer p {
  font-family: "Italiana", serif;
}
p {
  font-family: "Khand", sans-serif;
}

.hamburger-nav {
  height: 100vh;
  border-top: 3px solid #000;
  border-bottom: 3px solid transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-item {
  position: relative;
}
.nav-link::before {
  content: "-";
  color: #000;
  position: absolute;
  top: 15px;
  left: 37px;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus,
footer p:nth-child(1) {
  color: #5f843f !important;
}

#home {
  background-image: url("https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: aliceblue;
  align-items: flex-start !important;
  position: relative;
  z-index: -2;
}
#home::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  opacity: 0.5;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.inner {
  height: 25%;
  width: 85%;
  font-size: 1.5rem;
  margin-top: 4rem !important;
}
.inner p {
  font-size: 2rem;
  padding: 1rem 0 0 !important;
}
.inner img {
  height: 30% !important;
  padding: 0 !important;
}

.card .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  object-fit: cover;
  object-position: center;
  height: 10em;
  overflow: hidden;
}

footer {
  height: fit-content;
}
footer p:nth-child(2),
footer p:nth-child(3) {
  font-size: smaller;
}

@media (min-width: 768px) {
  .hamburger-nav {
    height: auto;
    border-top: 3px solid transparent;
  }
  .nav-link::before {
    display: none;
  }
  .inner p {
    font-size: 4.5rem;
  }
  #home {
    align-items: center !important;
  }
  .inner {
    height: 60%;
    width: 70%;
  }
  .inner p {
    padding: 0 0 2.5rem !important;
  }
  .image {
    height: 15em;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .card .img {
    align-items: center;
  }
  .image {
    height: 20em;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .forests-text {
    font-size: 18px;
  }
  .image {
    height: 20em;
  }
}

@media (min-width: 1201px) {
  .card .img {
    align-items: flex-end;
  }
  .image {
    height: 28em;
  }
  .forests-text {
    font-size: 22px;
  }
  footer {
    font-size: 20px;
  }
}
