@mixin flexRowAround {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
@mixin perfectCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

