$colorWhite: #fff;
$colorYellow: #ffff00;
$colorOrange: #ffa500;
$colorGreen: #0f7249;
$colorLightGreen: #90ee90;
$colorPurpple: #800080;
$colorTomato: #ff6347;
$colorTransparent: transparent;

$borderRadius: 50%;

$size1: 1rem;
$size2: 2rem;
$size3: 3rem;
$size4: 4rem;
