@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  background-color: rgba(0, 255, 255, 0.5);
  border: 20px solid #fff;
  height: 100%;
  width: 50%;
  padding: 2rem;
  overflow: hidden;
  -webkit-animation: brighten 2s linear forwards;
          animation: brighten 2s linear forwards;
}
.container .sun {
  position: absolute;
  top: 4rem;
  left: 5rem;
  width: 100px;
  height: 100px;
  filter: blur(0.2rem);
  border-color: transparent;
  border-radius: 50%;
  box-shadow: rgba(95, 16, 3, 0.56) 0px 5px 15px;
  background-color: #ffff00;
  -webkit-animation: sun 3s linear 0.01s, pulsate 3s linear 0.5s infinite;
          animation: sun 3s linear 0.01s, pulsate 3s linear 0.5s infinite;
}
.container .text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.container .text span {
  opacity: 0;
  padding: 1rem;
  font-family: "Shadows Into Light", cursive;
  font-size: 4rem;
  -webkit-animation: fadeIn 10s linear -15s forwards, flip 10s infinite 10s;
          animation: fadeIn 10s linear -15s forwards, flip 10s infinite 10s;
}
.container .flowers {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.container .flowers .stem {
  background: linear-gradient(90deg, #0f7249, #20ea20);
  width: 10px;
  border-radius: 30px 30px 0 0;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 1rem;
}
.container .flowers .leaf {
  width: 60px;
  height: 60px;
  border-radius: 40px 0 40px 0;
  opacity: 0;
  position: absolute;
}
.container .flowers .green {
  z-index: 1;
  background: linear-gradient(#20ea20, #0f7249);
}
.container .flowers .bloom {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.container .flowers .bloom .top,
.container .flowers .bloom .bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .flowers .center {
  width: 45px;
  height: 45px;
  background: radial-gradient(#ffff00, #ffa500);
  border-radius: 50%;
  opacity: 0;
  z-index: 99;
  position: absolute;
}
.container .flowers .first-flower {
  position: relative;
}
.container .flowers .first-flower .stem {
  -webkit-animation: grow 3s linear 2.3s forwards;
          animation: grow 3s linear 2.3s forwards;
  height: 15rem;
  left: 1rem;
}
.container .flowers .first-flower .green {
  bottom: 7rem;
  right: -5.5rem;
  transform: rotate(15deg);
  -webkit-animation: fadeIn 2s linear 3s forwards;
          animation: fadeIn 2s linear 3s forwards;
}
.container .flowers .first-flower .bloom {
  top: -12rem;
  left: 1.4rem;
  -webkit-animation: rotation1 6s ease-in 7s infinite;
          animation: rotation1 6s ease-in 7s infinite;
}
.container .flowers .first-flower .bloom .leaf {
  background: linear-gradient(#800080, #fff);
  -webkit-animation: growLeaves 1s linear 7.1s forwards;
          animation: growLeaves 1s linear 7.1s forwards;
}
.container .flowers .first-flower .bloom .one {
  top: -110px;
  right: 5px;
  transform: rotate(75deg);
}
.container .flowers .first-flower .bloom .two {
  top: -130px;
  right: -30px;
  transform: rotate(135deg);
}
.container .flowers .first-flower .bloom .three {
  top: -110px;
  right: -60px;
  transform: rotate(15deg);
}
.container .flowers .first-flower .bloom .four {
  top: -70px;
  right: -60px;
  transform: rotate(75deg);
}
.container .flowers .first-flower .bloom .five {
  top: -50px;
  right: -30px;
  transform: rotate(135deg);
}
.container .flowers .first-flower .bloom .six {
  top: -70px;
  right: 5px;
  transform: rotate(15deg);
}
.container .flowers .first-flower .bloom .center {
  top: -80px;
  right: -18px;
  -webkit-animation: growCenter 2s linear 5s forwards;
          animation: growCenter 2s linear 5s forwards;
}
.container .flowers .second-flower {
  margin-right: 5rem;
  position: relative;
}
.container .flowers .second-flower .stem {
  -webkit-animation: grow 4s linear 3s forwards;
          animation: grow 4s linear 3s forwards;
  height: 23rem;
}
.container .flowers .second-flower .green {
  bottom: 10rem;
  right: -0.7rem;
  transform: rotate(75deg);
  -webkit-animation: fadeIn 2s linear 4s forwards;
          animation: fadeIn 2s linear 4s forwards;
}
.container .flowers .second-flower .bloom {
  top: -25rem;
  left: -0.8rem;
  transform: rotate(150deg);
  -webkit-animation: rotation2 5s ease-in 8s infinite;
          animation: rotation2 5s ease-in 8s infinite;
}
.container .flowers .second-flower .bloom .leaf {
  background: linear-gradient(#ff6347, #800080);
}
.container .flowers .second-flower .bloom .one {
  top: -110px;
  right: 5px;
  transform: rotate(75deg);
  -webkit-animation: growLeaves 0.5s linear 8s forwards;
          animation: growLeaves 0.5s linear 8s forwards;
}
.container .flowers .second-flower .bloom .two {
  top: -130px;
  right: -30px;
  transform: rotate(135deg);
  -webkit-animation: growLeaves 0.5s linear 8.15s forwards;
          animation: growLeaves 0.5s linear 8.15s forwards;
}
.container .flowers .second-flower .bloom .three {
  top: -110px;
  right: -60px;
  transform: rotate(15deg);
  -webkit-animation: growLeaves 0.5s linear 8.3s forwards;
          animation: growLeaves 0.5s linear 8.3s forwards;
}
.container .flowers .second-flower .bloom .four {
  top: -70px;
  right: -60px;
  transform: rotate(75deg);
  -webkit-animation: growLeaves 0.5s linear 8.45s forwards;
          animation: growLeaves 0.5s linear 8.45s forwards;
}
.container .flowers .second-flower .bloom .five {
  top: -50px;
  right: -30px;
  transform: rotate(135deg);
  -webkit-animation: growLeaves 0.5s linear 8s forwards;
          animation: growLeaves 0.5s linear 8s forwards;
}
.container .flowers .second-flower .bloom .six {
  top: -70px;
  right: 5px;
  transform: rotate(15deg);
  -webkit-animation: growLeaves 0.5s linear 8.15s forwards;
          animation: growLeaves 0.5s linear 8.15s forwards;
}
.container .flowers .second-flower .bloom .center {
  top: -80px;
  right: -18px;
  -webkit-animation: growCenter 2s linear 6.7s forwards;
          animation: growCenter 2s linear 6.7s forwards;
}
.container .flowers .third-flower {
  margin-right: 3rem;
  position: relative;
}
.container .flowers .third-flower .stem {
  -webkit-animation: grow 2.5s linear 1.5s forwards;
          animation: grow 2.5s linear 1.5s forwards;
  height: 43rem;
}
.container .flowers .third-flower .green {
  background: linear-gradient(#0f7249, #20ea20);
  bottom: 18rem;
  right: -0.7rem;
  transform: rotate(75deg);
  -webkit-animation: fadeIn 2s linear 1.9s forwards;
          animation: fadeIn 2s linear 1.9s forwards;
}
.container .flowers .third-flower .bloom {
  top: -43rem;
  left: 5rem;
  transform: rotate(-90deg);
  -webkit-animation: rotation3 4s ease-in 7s infinite;
          animation: rotation3 4s ease-in 7s infinite;
}
.container .flowers .third-flower .bloom .leaf {
  background: radial-gradient(#ee82ee, #196eee);
}
.container .flowers .third-flower .bloom .one {
  top: -110px;
  right: 8px;
  transform: rotate(75deg);
  -webkit-animation: growLeaves 0.5s linear 6.15s forwards;
          animation: growLeaves 0.5s linear 6.15s forwards;
}
.container .flowers .third-flower .bloom .two {
  top: -130px;
  right: -30px;
  transform: rotate(135deg);
  -webkit-animation: growLeaves 0.5s linear 6.5s forwards;
          animation: growLeaves 0.5s linear 6.5s forwards;
}
.container .flowers .third-flower .bloom .three {
  top: -110px;
  right: -65px;
  transform: rotate(15deg);
  -webkit-animation: growLeaves 0.5s linear 6.15s forwards;
          animation: growLeaves 0.5s linear 6.15s forwards;
}
.container .flowers .third-flower .bloom .four {
  top: -70px;
  right: -60px;
  transform: rotate(75deg);
  -webkit-animation: growLeaves 0.5s linear 6.5s forwards;
          animation: growLeaves 0.5s linear 6.5s forwards;
}
.container .flowers .third-flower .bloom .five {
  top: -50px;
  right: -30px;
  transform: rotate(135deg);
  -webkit-animation: growLeaves 0.5s linear 6.15s forwards;
          animation: growLeaves 0.5s linear 6.15s forwards;
}
.container .flowers .third-flower .bloom .six {
  top: -70px;
  right: 5px;
  transform: rotate(15deg);
  -webkit-animation: growLeaves 0.5s linear 6.5s forwards;
          animation: growLeaves 0.5s linear 6.5s forwards;
}
.container .flowers .third-flower .bloom .center {
  top: -80px;
  right: -18px;
  -webkit-animation: growCenter 2s linear 3.8s forwards;
          animation: growCenter 2s linear 3.8s forwards;
}

.text span:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.text span:nth-child(2) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.text span:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.text span:nth-child(4) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.text span:nth-child(5) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.text span:nth-child(6) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.text span:nth-child(7) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.text span:nth-child(8) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

.text span:nth-child(9) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

@-webkit-keyframes brighten {
  0% {
    background-color: rgb(39, 40, 40);
  }
  60% {
    background-color: rgba(110, 112, 112, 0.7);
  }
  100% {
    background-color: rgba(0, 255, 255, 0.5);
  }
}

@keyframes brighten {
  0% {
    background-color: rgb(39, 40, 40);
  }
  60% {
    background-color: rgba(110, 112, 112, 0.7);
  }
  100% {
    background-color: rgba(0, 255, 255, 0.5);
  }
}
@-webkit-keyframes sun {
  0% {
    left: -10rem;
    top: 25rem;
  }
  100% {
    left: 5rem;
    top: 4rem;
  }
}
@keyframes sun {
  0% {
    left: -10rem;
    top: 25rem;
  }
  100% {
    left: 5rem;
    top: 4rem;
  }
}
@-webkit-keyframes pulsate {
  0% {
    box-shadow: inset 0 0 5px #ffff00, rgb(255, 165, 0) 0px 5px 40px;
    border-color: transparent;
  }
  50% {
    box-shadow: inset 0 0 20px #ffa500, rgb(255, 165, 0) 0px 5px 10px;
    border-color: transparent;
  }
  100% {
    border-color: transparent;
    box-shadow: inset 0 0 5px #ffff00, rgb(255, 165, 0) 0px 5px 40px;
  }
}
@keyframes pulsate {
  0% {
    box-shadow: inset 0 0 5px #ffff00, rgb(255, 165, 0) 0px 5px 40px;
    border-color: transparent;
  }
  50% {
    box-shadow: inset 0 0 20px #ffa500, rgb(255, 165, 0) 0px 5px 10px;
    border-color: transparent;
  }
  100% {
    border-color: transparent;
    box-shadow: inset 0 0 5px #ffff00, rgb(255, 165, 0) 0px 5px 40px;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flip {
  5% {
    transform: rotateX(1turn);
  }
  10% {
    transform: rotateX(2turn);
  }
  20% {
    transform: rotateX(3turn);
  }
  40% {
    transform: rotateX(4turn);
  }
  70%, 100% {
    transform: rotateX(5turn);
  }
}
@keyframes flip {
  5% {
    transform: rotateX(1turn);
  }
  10% {
    transform: rotateX(2turn);
  }
  20% {
    transform: rotateX(3turn);
  }
  40% {
    transform: rotateX(4turn);
  }
  70%, 100% {
    transform: rotateX(5turn);
  }
}
@-webkit-keyframes grow {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes grow {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes growCenter {
  0% {
    opacity: 0;
    height: 15px;
    width: 10px;
    top: -50px;
    right: 0px;
    background-color: #0f7249;
  }
  50% {
    opacity: 0.5;
    background-color: #0f7249;
  }
  75% {
    background-color: #20ea20;
  }
  100% {
    opacity: 1;
  }
}
@keyframes growCenter {
  0% {
    opacity: 0;
    height: 15px;
    width: 10px;
    top: -50px;
    right: 0px;
    background-color: #0f7249;
  }
  50% {
    opacity: 0.5;
    background-color: #0f7249;
  }
  75% {
    background-color: #20ea20;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes growLeaves {
  0% {
    opacity: 0;
    height: 10px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes growLeaves {
  0% {
    opacity: 0;
    height: 10px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotation1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation2 {
  0% {
    transform: rotate(150deg);
  }
  50% {
    left: -0.5rem;
    top: -25rem;
    transform: rotate(155deg);
  }
  100% {
    transform: rotate(150deg);
  }
}
@keyframes rotation2 {
  0% {
    transform: rotate(150deg);
  }
  50% {
    left: -0.5rem;
    top: -25rem;
    transform: rotate(155deg);
  }
  100% {
    transform: rotate(150deg);
  }
}
@-webkit-keyframes rotation3 {
  0% {
    transform: rotate(-95deg);
  }
  50% {
    top: -42.5rem;
    transform: rotate(-85deg);
  }
  100% {
    transform: rotate(-95deg);
  }
}
@keyframes rotation3 {
  0% {
    transform: rotate(-95deg);
  }
  50% {
    top: -42.5rem;
    transform: rotate(-85deg);
  }
  100% {
    transform: rotate(-95deg);
  }
}/*# sourceMappingURL=style.css.map */