@import "variables", "mixins";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  @include perfectCenter;
}
.container {
  position: relative;
  background-color: $colorCyanOpac;
  border: 20px solid $colorWhite;
  height: 100%;
  width: 50%;
  padding: $size2;
  overflow: hidden;
  animation: brighten 2s linear forwards;
  .sun {
    position: absolute;
    top: 4rem;
    left: 5rem;
    width: 100px;
    height: 100px;
    filter: blur(0.2rem);
    border-color: $colorTransparent;
    border-radius: $borderRadius;
    box-shadow: rgba(95, 16, 3, 0.56) 0px 5px 15px;
    background-color: $colorYellow;
    animation: sun 3s linear 0.01s, pulsate 3s linear 0.5s infinite;
  }
  .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    @include perfectCenter;
    text-align: center;
    color: $colorWhite;
    span {
      opacity: 0;
      padding: $size1;
      font-family: "Shadows Into Light", cursive;
      font-size: $size4;
      animation: fadeIn 10s linear -15s forwards, flip 10s infinite 10s;
    }
  }
  .flowers {
    position: absolute;
    width: 100%;
    bottom: 0;
    @include flexRowAround;
    .stem {
      background: linear-gradient(90deg, $colorGreen, $colorLightGreen);
      width: 10px;
      border-radius: 30px 30px 0 0;
      transform: translateY(100%);
      position: absolute;
      bottom: 0;
      z-index: 2;
      left: 1rem;
    }
    .leaf {
      width: 60px;
      height: 60px;
      border-radius: 40px 0 40px 0;
      opacity: 0;
      position: absolute;
    }
    .green {
      z-index: 1;
      background: linear-gradient($colorLightGreen, $colorGreen);
    }
    .bloom {
      position: absolute;
      @include perfectColCenter;
      z-index: 3;
      .top,
      .bottom {
        position: relative;
        @include perfectCenter;
      }
    }
    .center {
      width: 45px;
      height: 45px;
      background: radial-gradient($colorYellow, $colorOrange);
      border-radius: $borderRadius;
      opacity: 0;
      z-index: 99;
      position: absolute;
    }
    .first-flower {
      position: relative;
      .stem {
        animation: grow 3s linear 2.3s forwards;
        height: 15rem;
        left: 1rem;
      }
      .green {
        bottom: 7rem;
        right: -5.5rem;
        transform: rotate(15deg);
        animation: fadeIn 2s linear 3s forwards;
      }
      .bloom {
        top: -12rem;
        left: 1.4rem;
        animation: rotation1 6s ease-in 7s infinite;
        .leaf {
          background: linear-gradient($colorPurple, $colorWhite);
          animation: growLeaves 1s linear 7.1s forwards;
        }
        .one {
          top: -110px;
          right: 5px;
          transform: rotate(75deg);
        }
        .two {
          top: -130px;
          right: -30px;
          transform: rotate(135deg);
        }
        .three {
          top: -110px;
          right: -60px;
          transform: rotate(15deg);
        }
        .four {
          top: -70px;
          right: -60px;
          transform: rotate(75deg);
        }
        .five {
          top: -50px;
          right: -30px;
          transform: rotate(135deg);
        }
        .six {
          top: -70px;
          right: 5px;
          transform: rotate(15deg);
        }
        .center {
          top: -80px;
          right: -18px;
          animation: growCenter 2s linear 5s forwards;
        }
      }
    }
    .second-flower {
      margin-right: $size5;
      position: relative;
      .stem {
        animation: grow 4s linear 3s forwards;
        height: 23rem;
      }
      .green {
        bottom: 10rem;
        right: -0.7rem;
        transform: rotate(75deg);
        animation: fadeIn 2s linear 4s forwards;
      }
      .bloom {
        top: -25rem;
        left: -0.8rem;
        transform: rotate(150deg);
        animation: rotation2 5s ease-in 8s infinite;
        .leaf {
          background: linear-gradient($colorTomato, $colorPurple);
        }
        .one {
          top: -110px;
          right: 5px;
          transform: rotate(75deg);
          animation: growLeaves 0.5s linear 8s forwards;
        }
        .two {
          top: -130px;
          right: -30px;
          transform: rotate(135deg);
          animation: growLeaves 0.5s linear 8.15s forwards;
        }
        .three {
          top: -110px;
          right: -60px;
          transform: rotate(15deg);
          animation: growLeaves 0.5s linear 8.3s forwards;
        }
        .four {
          top: -70px;
          right: -60px;
          transform: rotate(75deg);
          animation: growLeaves 0.5s linear 8.45s forwards;
        }
        .five {
          top: -50px;
          right: -30px;
          transform: rotate(135deg);
          animation: growLeaves 0.5s linear 8s forwards;
        }
        .six {
          top: -70px;
          right: 5px;
          transform: rotate(15deg);
          animation: growLeaves 0.5s linear 8.15s forwards;
        }
        .center {
          top: -80px;
          right: -18px;
          animation: growCenter 2s linear 6.7s forwards;
        }
      }
    }
    .third-flower {
      margin-right: $size3;
      position: relative;
      .stem {
        animation: grow 2.5s linear 1.5s forwards;
        height: 43rem;
      }
      .green {
        background: linear-gradient($colorGreen, $colorLightGreen);
        bottom: 18rem;
        right: -0.7rem;
        transform: rotate(75deg);
        animation: fadeIn 2s linear 1.9s forwards;
      }
      .bloom {
        top: -43rem;
        left: 5rem;
        transform: rotate(-90deg);
        animation: rotation3 4s ease-in 7s infinite;
        .leaf {
          background: radial-gradient($colorPink, $colorBlue);
        }
        .one {
          top: -110px;
          right: 8px;
          transform: rotate(75deg);
          animation: growLeaves 0.5s linear 6.15s forwards;
        }
        .two {
          top: -130px;
          right: -30px;
          transform: rotate(135deg);
          animation: growLeaves 0.5s linear 6.5s forwards;
        }
        .three {
          top: -110px;
          right: -65px;
          transform: rotate(15deg);
          animation: growLeaves 0.5s linear 6.15s forwards;
        }
        .four {
          top: -70px;
          right: -60px;
          transform: rotate(75deg);
          animation: growLeaves 0.5s linear 6.5s forwards;
        }
        .five {
          top: -50px;
          right: -30px;
          transform: rotate(135deg);
          animation: growLeaves 0.5s linear 6.15s forwards;
        }
        .six {
          top: -70px;
          right: 5px;
          transform: rotate(15deg);
          animation: growLeaves 0.5s linear 6.5s forwards;
        }
        .center {
          top: -80px;
          right: -18px;
          animation: growCenter 2s linear 3.8s forwards;
        }
      }
    }
  }
}

@for $i from 1 through 9 {
  .text span:nth-child(#{$i}) {
    animation-delay: ($i * 0.1s) + 0.15s;
  }
}

@keyframes brighten {
  0% {
    background-color: rgb(39, 40, 40);
  }
  60% {
    background-color: rgba(110, 112, 112, 0.7);
  }
  100% {
    background-color: rgba(0, 255, 255, 0.5);
  }
}

@keyframes sun {
  0% {
    left: -10rem;
    top: 25rem;
  }
  100% {
    left: 5rem;
    top: 4rem;
  }
}

@keyframes pulsate {
  0% {
    box-shadow: inset 0 0 5px $colorYellow, rgba(255, 165, 0, 1) 0px 5px 40px;
    border-color: transparent;
  }
  50% {
    box-shadow: inset 0 0 20px $colorOrange, rgba(255, 165, 0, 1) 0px 5px 10px;
    border-color: transparent;
  }
  100% {
    border-color: transparent;
    box-shadow: inset 0 0 5px $colorYellow, rgba(255, 165, 0, 1) 0px 5px 40px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip {
  5% {
    transform: rotateX(1turn);
  }
  10% {
    transform: rotateX(2turn);
  }
  20% {
    transform: rotateX(3turn);
  }
  40% {
    transform: rotateX(4turn);
  }
  70%,
  100% {
    transform: rotateX(5turn);
  }
}

@keyframes grow {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes growCenter {
  0% {
    opacity: 0;
    height: 15px;
    width: 10px;
    top: -50px;
    right: 0px;
    background-color: $colorGreen;
  }
  50% {
    opacity: 0.5;
    background-color: $colorGreen;
  }
  75% {
    background-color: $colorLightGreen;
  }
  100% {
    opacity: 1;
  }
}

@keyframes growLeaves {
  0% {
    opacity: 0;
    height: 10px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotation2 {
  0% {
    transform: rotate(150deg);
  }
  50% {
    left: -0.5rem;
    top: -25rem;
    transform: rotate(155deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

@keyframes rotation3 {
  0% {
    transform: rotate(-95deg);
  }
  50% {
    top: -42.5rem;
    transform: rotate(-85deg);
  }
  100% {
    transform: rotate(-95deg);
  }
}
