@mixin perfectCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexCenterVertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flexEndVertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
