$containerWidth: 90%;
$containerHeight: 50%;
$bg-color: #37474f;
$colorBlack: #000;
$colorWhite: #fff;
$lemonColor: #ffec00;
$padding: 5%;
$borderRadiusBig: 100px 30px 100px 30px;
$borderRadiusSmall: 60px 20px 60px 20px;
$uppercase: uppercase;
