@import "variables", "mixins";
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  @include perfectCenter;
  background-color: $bg-color;
  font-family: "Ubuntu", sans-serif;
}

.container {
  @include flexBetween;
  background-image: url("https://images.unsplash.com/photo-1534367610401-9f5ed68180aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  width: $containerWidth;
  height: $containerHeight;
  border: 8px solid #fff;
  padding: 0 $padding;
  .big-lemon {
    @include flexBetween;
    height: 230px;
    width: 210px;
    border-radius: $borderRadiusBig;
    position: relative;
    .friday {
      @include perfectCenter;
      background-color: $colorBlack;
      color: #fff;
      font-weight: bold;
      font-size: larger;
      text-transform: $uppercase;
      padding-left: 4%;
      height: 33%;
      width: 40%;
      position: absolute;
      top: 0;
      left: 43%;
      &::before {
        content: " ";
        background-color: $colorBlack;
        position: absolute;
        height: 99%;
        width: 10%;
        transform: skew(5deg);
        left: -3px;
      }
      &::after {
        content: " ";
        background-color: $colorBlack;
        position: absolute;
        height: 99%;
        width: 10%;
        transform: skew(-5deg);
        right: -4px;
      }
    }
    .price-container {
      @include flexBetween;
      .price {
        font-size: 100px;
        font-weight: 900;
        letter-spacing: -7px;
        margin: 30% 0 0 20%;
      }
      .price-etc {
        @include flexCenterVertical;
        font-weight: 900;
        margin: 35% 0 0 5%;
        line-height: 25px;
        letter-spacing: -3px;
        font-family: "Source Sans Pro", sans-serif;
        .cents {
          font-size: 30px;
        }
        .currency {
          font-size: 40px;
        }
        .duration {
          text-transform: $uppercase;
        }
      }
    }
  }
  .text {
    width: 50%;
    font-size: 60px;
    margin: 0 10% 0 5%;
    padding-bottom: 45px;
    color: $colorWhite;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 800;
    span {
      color: $colorLemon;
      text-transform: $uppercase;
      font-weight: 800;
      font-family: "Barlow", sans-serif;
    }
  }
  .lemon-button {
    @include flexEndVertical;
    .small-lemon {
      @include perfectCenter;
      height: 120px;
      width: 120px;
      border: 10px solid $colorBlack;
      border-radius: $borderRadiusSmall;
      color: $colorBlack;
      font-weight: 900;
      font-size: 22px;
      text-transform: $uppercase;
      font-family: "Source Sans Pro", sans-serif;
      margin-bottom: 130px;
    }
    button {
      background-color: $colorOrange;
      border: transparent;
      width: 270px;
      padding: 25px 30px;
      font-size: 45px;
      font-weight: 700;
      color: $colorWhite;
      text-transform: $uppercase;
      font-family: "Barlow", sans-serif;
      // arrow on the buttom START
      .arrow {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-top: 5px solid $colorWhite;
        border-right: 5px solid $colorWhite;
        margin-bottom: 5px;
      }
      .arrow-right {
        transform: rotate(45deg) skew(-10deg, -10deg);
      }
      // arrow on the buttom END
    }
  }
}

.big-lemon,
.small-lemon {
  background-color: $colorLemon;
  color: $colorBlack;
}
