* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37474f;
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1534367610401-9f5ed68180aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 50%;
  border: 8px solid #fff;
  padding: 0 5%;
}
.container .big-lemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 230px;
  width: 210px;
  border-radius: 100px 30px 100px 30px;
  position: relative;
}
.container .big-lemon .friday {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
  padding-left: 4%;
  height: 33%;
  width: 40%;
  position: absolute;
  top: 0;
  left: 43%;
}
.container .big-lemon .friday::before {
  content: " ";
  background-color: #000;
  position: absolute;
  height: 99%;
  width: 10%;
  transform: skew(5deg);
  left: -3px;
}
.container .big-lemon .friday::after {
  content: " ";
  background-color: #000;
  position: absolute;
  height: 99%;
  width: 10%;
  transform: skew(-5deg);
  right: -4px;
}
.container .big-lemon .price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .big-lemon .price-container .price {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -7px;
  margin: 30% 0 0 20%;
}
.container .big-lemon .price-container .price-etc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  margin: 35% 0 0 5%;
  line-height: 25px;
  letter-spacing: -3px;
  font-family: "Source Sans Pro", sans-serif;
}
.container .big-lemon .price-container .price-etc .cents {
  font-size: 30px;
}
.container .big-lemon .price-container .price-etc .currency {
  font-size: 40px;
}
.container .big-lemon .price-container .price-etc .duration {
  text-transform: uppercase;
}
.container .text {
  width: 50%;
  font-size: 60px;
  margin: 0 10% 0 5%;
  padding-bottom: 45px;
  color: #fff;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 800;
}
.container .text span {
  color: #ffec00;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Barlow", sans-serif;
}
.container .lemon-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.container .lemon-button .small-lemon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border: 10px solid #000;
  border-radius: 60px 20px 60px 20px;
  color: #000;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 130px;
}
.container .lemon-button button {
  background-color: #f06002;
  border: transparent;
  width: 270px;
  padding: 25px 30px;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
}
.container .lemon-button button .arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  margin-bottom: 5px;
}
.container .lemon-button button .arrow-right {
  transform: rotate(45deg) skew(-10deg, -10deg);
}

.big-lemon,
.small-lemon {
  background-color: #ffec00;
  color: #000;
}/*# sourceMappingURL=style.css.map */